*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction:row-reverse;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;

}
.add-seat-btn-container,.seat-container{
    width: 200px;
    height: 250px;
    /* border: solid 1px black; */
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 14px;
    justify-content: space-between;

}
.add-seat-btn-container{
    padding-top: 36px;
}
.seat-container .seat{
    /* border: solid black 1px; */
    position: relative;
    width: 150px;
    height:150px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/static/icons/app/armchair.svg");
    background-size:120px;
}

/* .seat .seat-img{
    position:relative;
    width: 100%;
    height:100%;
    border-radius: 50%;
    border: 1px solid black;
} */
.seat:hover .delete-seat-btn{
    /* display: block; */
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in;
    cursor: pointer;
}
.delete-seat-btn{
    position: absolute;
    /* display:none; */
    visibility: hidden;
    opacity: 0;
    width: 40px;
    height:40px;
    border-radius: 50%;
    background-color: red;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction:column;
    font-size: 35px;
    color: white;
    justify-content: space-around;
    font-weight: bolder;
    
}
button.add-seat{
    width: 150px;
    height:150px;
    border-radius: 50%;
    outline: 0;
    border:none;
    box-shadow: 0;
    background-color: rgb(176, 170, 170) !important;
    cursor: pointer;
}
.doneButton{
  width: 100px;
  height: 40px;
  background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    background-color: rgb(95,200,29);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight:bold;
    letter-spacing: 1px;
    border-radius: 10px;

}
.container .menu-icon{
    position:absolute;
    left: 15px;
    top: 15px;
    color: rgb(47, 137, 37);
    transition: color ease;
    transition-duration: 1s;
    z-index: 2;
}
.container .sidebar,.queue-sidebar{
    position: relative;
    height: 100vh;
    width: 25%;
    background: #333; /* Dark gray */
    color: white; 
    position:absolute;
    left:-500px;
    transition: left 0.3s ease;
    z-index: 1;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.queue-sidebar{
  position: relative;
  height: 100vh;
  width: 25%;
  background: #333; /* Dark gray */
  color: white; 
  position:absolute;
  top:0;
  right:-500px;
  transition: right 0.3s ease;
  z-index: 1;
  display: flex;
  flex-direction:column;
  align-items: center;
}
.sidebar-profile-card{
    width:100%;
    height: 25%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
}
.profile-photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:white;
    margin-top:20px;
    background:  url("/static/images/landing/nai.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.container .menu-icon:hover{
    color:greenyellow;
}
.container img{
    position: absolute;
    width:55px;
    height:55px;
    right: 15px;
    top:10px;
}
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
    margin-top: 10px;
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 10px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }

  .sidebar-button-container{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    padding:10px;
  }
  .sidebar-button-container button{
    width: 100%;
    height:20%;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    background-color: rgb(95,200,29);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight:bold;
    letter-spacing: 1px;
    border-radius: 10px;

}
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000; /* Above all other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from top and centered */
  padding: 20px;
  border-radius: 10px;
  width: 40%; /* Adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
}
.pay-done-btn{
  width: 25%;
    height: 40%;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    background-color: rgb(95,200,29);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight:bold;
    letter-spacing: 1px;
    border-radius: 10px;
}
.pay-not-done-btn{
  width: 25%;
  height: 40%;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  background-color: rgb(200, 29, 29);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  font-weight:bold;
  letter-spacing: 1px;
  border-radius: 10px;

}
.border{
    border: 1px solid black;

}